---
title: 关于我
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>关于我</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>我是伪君子</h1>
	<br/>
		<p>广州增城区人，现在在山西阳泉某区域性知名（不出名）的大学读书，很快就是一个读计算机的大三狗，现在非常慌。</p>
	<br/>
		<p>专业是计算机科学与技术，会那么点 C/C++, Python, Linux,HTML,CSS, 小程序。</p>
	<br/>
		<p>其实我弄水晶头、拉网线、配 IP、装系统、手机贴膜的技术还算可以的。</p>
	<br/>
		<h2 align="center">联系方式</h2>
	<br/>
		<p>微信：</p>
		<br/>
			<img src="https://upload-images.jianshu.io/upload_images/2989110-32a5ba42700070e9.jpg" width="200" height="200" alt="微信"/>
		<br/>
		<br/>
			<p>QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=609754581&site=qq&menu=yes"style="color:#5bbd72;">609754581（玄学在线）</a></p>
		<br/>
			<p>邮箱：<a target="_blank" href="mailto:lbj.heiheihei@qq.com"style="color:#5bbd72;">lbj.heiheihei@qq.com</a></p>
		<br/>
			<p>Github：<a target="_blank" href="https://github.com/weijunzii"style="color:#5bbd72;">weijunzii</a></p>
		<br/>
			<p>简书：<a target="_blank" href="https://www.jianshu.com/u/93022c8a49c5"style="color:#5bbd72;">伪君子_（不怎么喜欢用简书）</a></p>
		<br/>
			<p>即刻：伪君子_</p>
		<br/>
		<p>微信公众号：伪君子的梦呓</p>
		<br/>
			<img src="https://upload-images.jianshu.io/upload_images/2989110-97448888836e388b.png" width="200" height="200" alt="微信公众号"/>
		<br/>
    </ul>
	
</main>
    
{% include footer.html %}
