---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
 data-theme="{{ site.theme-color }}">
	<h2>关于我</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
	<ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>我是君子</h1>
		<br />
		<p>广州增城区人，出生于 1998，毕业于 2020。</p>
		<br />
		<p>增江街中心小学 -> 增城二中 -> 郑中钧中学（2016届）-> 山西工程技术学院（计算机科学与技术，2020届）</p>
		<br />
		<p>会那么点 C/C++, Python, 爬虫, Linux, HTML, CSS, Java, 小程序。</p>
		<br />
		<p>其实我弄水晶头、拉网线、配 IP、装系统、给手机贴膜的技术还算可以的🤣</p>
		<br />
		
		<p>大三暑假跟着别人折腾过淘宝店，后来就找实习了，2019 年 10 月在广州海珠区某一家公司实习，然后转正，现在是一名搞爬虫、自动化、测试的数据分析师。</p>
		<br />
		
		<p>目标是富成一个废人，已经实现了一半，是个废人。</p>
		<br />
		
		<p>兴趣爱好：看别人钓鱼、溜乌龟、游泳健身。</p>
		<br />
		
		<h2 align="center">联系方式</h2>
		<br />
		
		<p>微信：</p>
		<br />
		<img src="https://upload-images.jianshu.io/upload_images/2989110-32a5ba42700070e9.jpg" width="200" height="200" alt="微信" />
		<br />
		
		<p>Github：<a target="_blank" href="https://github.com/weijunzii" style="color:#5bbd72;">weijunzii</a></p>
		<br />

		<p>即刻：<a>君子</a></p>
		<br />
		
		<p>微信公众号：君子的梦呓</p>
		<br />
		<img src="https://upload-images.jianshu.io/upload_images/2989110-97448888836e388b.png" width="200" height="200" alt="微信公众号" />
		<br />
	</ul>

</main>

{% include footer.html %}
