---
title: 友链
layout: default

---


{% include header.html %}


<main class="tags-content">
    <ul class="tags-list">
		<div>
			<li>
				<h3  target="_blank" href="http://www.wanandroid.com/">wanandroid</h3>
				<img src="https://upload-images.jianshu.io/upload_images/2989110-f74cdd725938e4b9.png" width="100" height="90" alt="wanandroid"/><br/>
				
				<span>鸿洋大佬的网站</span>
			</li>
		</div>
		<div>
			<li>
				<h3  target="_blank" href="https://jackeygao.io/">jackeygao</h3>
				<img src="https://jackeygao.io/assets/images/avatar.png" width="100" height="90"alt="jackeygao"/><br/>
				<span>jackeygao 大佬的博客</span>
			</li>
		</div>
		<div>
			<li>
				<h3  target="_blank" href="https://blog.jiasm.org/">贾顺名</h3>
				<img src="https://avatars1.githubusercontent.com/u/9568094" width="100" height="90"alt="贾顺名"/><br/>
				<span>贾顺名大佬的博客</span>
			</li>
		</div>
		<div>
			<li>
				<h3  target="_blank" href="https://jackeygao.io/">菜鸟致敬</h3><br/>
				<span>菜鸟的博客</span>
			</li>
		</div>
		<div>
			<h2 align="center" id="404-site">添加友情链接</h2>
			<h4>1.首先，友情链接名称最好是“伪君子的梦呓”。如果非要有照骗的话，我觉得这个还是 OK 的。<a target="_blank" href="https://weijunzii.github.io/assets/img/profile.png">请做好心理准备再点击</a></h4>
			<h4>2.联系我</h4>
			<img src="https://upload-images.jianshu.io/upload_images/2989110-382b6d35337bb166.jpg?imageMogr2/auto-orient/strip"  alt="微信"/>
			<p>QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=609754581&site=qq&menu=yes">609754581（玄学在线）</a></p>
			<p>邮箱：<a target="_blank" href="mailto:lbj.heiheihei@qq.com">lbj.heiheihei@qq.com</a></p>
			<h4>3.更新了链接请一定一定要记得联系我！！！</h4>
		</div>
    </ul>
</main>
    
{% include footer.html %}