---
title: Links
layout: default
---
<style type="text/css"> 
	p {margin-left: 20px}
	li img{
		margin-right: 11px;
		float: left;
		border-radius: 50%;
	}
	
</style> 
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>友情链接</h2>
</div>

<main class="tags-content">
    <ul class="tags-list" style="padding:0 0 0px;">
			<div onclick="window.open('http://liaokeyu.com/')">
			<li style="height: 140px;cursor:pointer;">
				<img src="http://liaokeyu.com/assets/img/profile.png" width="65" height="65" alt="廖柯宇">
				<h4>廖柯宇</h4>
			<br/>
				<span>前端开发者，热爱技术&设计，简单乐观爱创造。</span>
			<br/>
				<span>本博客模板的开发者，非常感谢~</span>
			</li>
			</div>
		
			<div onclick="window.open('http://www.wanandroid.com/')">
			<li style="height: 90px;margin: 0px 0px 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://upload-images.jianshu.io/upload_images/2989110-f74cdd725938e4b9.png" style="border-radius: 0%;" width="70" height="70" alt="wanandroid">
				<h4 >WanAndroid</h4>
			<br/>
				<span>玩 Android，每日推荐优质文章</span>
			</li>
			</div>
		
			<div onclick="window.open('https://jackeygao.io/')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://jackeygao.github.io/assets/images/avatar.png" width="65" height="65" alt="jackeygao">
				<h4 >JackeyGao</h4>
			<br/>
				<span>JackeyGao, <a target="_blank" href="https://github.com/chinese-poetry/">中文诗词数据库</a>作者</span>
			</li>
			</div>
	
			<div onclick="window.open('https://blog.jiasm.org/')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://avatars1.githubusercontent.com/u/9568094" width="65" height="65" alt="贾顺名">
				<h4 >贾顺名</h4>
			<br/>
				<span>贾顺名大佬的博客</span>
			</li>
			</div>
	
			<div onclick="window.open('https://iphper.cn/')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://iphper.cn/img/logo.jpg" width="65" height="65" alt="沈唁">
				<h4 >沈唁</h4>
			<br/>
				<span>沈唁，一个成长中的PHPer！</span>
			</li>
			</div>
	
			<div onclick="window.open('https://www.wmathor.com')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2870164781,3342023676&fm=58" width="65" height="65" alt="热爱数学的程序员">
				<h4 >热爱数学的程序员</h4>
			<br/>
				<span>数学家是我理想</span>
			</li>
			</div>
		
			<div onclick="window.open('https://dongkelun.com/')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://wx3.sinaimg.cn/large/e44344dcly1fpkwens4otj20hs0hs753.jpg" width="65" height="65" alt="伦少的博客">
				<h4 >伦少的博客</h4>
			<br/>
				<span>分享 Spark 、大数据相关的经验</span>
			</li>
			</div>
		
			<div onclick="window.open('http://www.codesheep.cn/')">
			<li style="height: 92px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="http://upload.jianshu.io/users/upload_avatars/9824247/4fb9bd8a-bd91-4dac-9504-2bc8a88bec46.png" width="65" height="65" alt="CodeSheep程序羊">
				<h4 >CodeSheep程序羊</h4>
			<br/>
				<span>分享虚拟化、容器化、API 化和微服务化的 WEB 技术</span>
			</li>
			</div>
			
			<div onclick="window.open('http://www.zsxq100.com/')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://upload-images.jianshu.io/upload_images/2989110-b3427e110b9a5fa8.png" width="65" height="65" alt="知识星球精选站">
				<h4>知识星球精选站</h4>
			<br/>
				<span>100个精选知识星球推荐给您-帮你轻松链接大牛</span>
			</li>
			</div>
			
			<div onclick="window.open('http://www.ipengtao.com/')">
			<li style="height: 90px;margin-bottom: 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://upload-images.jianshu.io/upload_images/2989110-11ea750491a51344.png" width="65" height="65" alt="sitin's blog">
				<h4>sitin's blog</h4>
			<br/>
				<span>涛哥聊Python，一个专注Python后端和容器化技术的运维开发</span>
			</li>
			</div>
			<br/>
			<br/>
				<h3 style="margin-left:5px;"><a target="_blank" href="https://zhangyue.xin">张高兴的博客</a></h3>
			<br/>
				<span></span>


		<div style="margin: 5px 5px 5px 5px">
			<h2 align="center" >友链申请格式</h2>
		<br/>
			<p><strong>名称:  </strong>伪君子的梦呓</p>
		<br/>
			<p><strong>链接:  </strong>https://weijunzii.github.io/</p>
		<br/>
			<p><strong>头像链接:  </strong><a target="_blank" href="https://weijunzii.github.io/assets/img/profile.png" style="color:#5bbd72;">https://weijunzii.github.io/assets/img/profile.png</a>
			</p>
		<br/>
			<p><strong>描述:  </strong>一个有趣的人，人生初学者</p>
		<br/>
			<h2 align="center" >相关说明</h2>
		<br/>
			<h3>1.联系方式</h3>
		<br/>
			<p>微信：</p>
		<br/>
			<img style="float: center;padding-right: 11px;" src="https://upload-images.jianshu.io/upload_images/2989110-32a5ba42700070e9.jpg" width="200" height="200" alt="微信">
		<br/><br/><br/>
			<h3>2.可以到<a target="_blank" href="https://weijunzii.github.io/2017/01/01/Friends-Link.html" style="color:#5bbd72;">这篇文章</a>下留言，这样申请友链可能会方便一点</h3>
		<br/>
			<h3>3.更新了链接请一定一定要记得联系我！！！</h3>
		</div>
    </ul>
	
</main>
    
{% include footer.html %}
